<!DOCTYPE html>
<html(lang="en")>
head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  meta(http-equiv="X-UA-Compatible", content="ie=edge")
  title Coding-Buddies
body
  h1 Coding-Buddies
  p Find others who match your coding style and get to programming!
  a(href='/survey') 
    button Take the survey!
</html>
